* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Noto Sans TC", sans-serif;
}

body {
  position: relative;
}

.orange {
  position: absolute;
  top: -10vh;
  right: 0;
  z-index: -1;
  width: 55vw;
  height: 150vh;
}

header {
  nav {
    width: 100%;
    ul {
      padding: 1rem;
      width: 70%;
      display: flex;
      list-style-type: none;
      justify-content: space-around;
      li {
        font-size: 1.75rem;
        a {
          color: black;
          text-decoration: none;
        }
      }
    }
  }
}

main {
  display: flex;
  flex-wrap: wrap;
  section.left {
    flex: 3 1 500px;
    padding: 2rem;
    h1 {
      font-size: 4rem;
      color: #e2c497;
    }
    p {
      font-size: 1.5rem;
      padding: 1rem 0rem;
    }
  }

  section.right {
    flex: 1 1 600px;
    position: relative;
    img {
      border-radius: 50%;
      width: 25vw;
      height: 25vw;
      position: absolute;
      top: 25vh;
      right: 10vw;
      transform: translate(-50%);
    }
  }
}

.active {
  color: #e2c497;
}

@media screen and (max-width: 1100px) {
  header {
    nav {
      ul {
        width: 100%;
        flex-direction: column;
        li {
          padding: 1rem 0rem;
          border-bottom: 2px solid gray;
        }
      }
    }
  }
}
